# We don't need the output of the tests
testing/output/**/*.mp4
testing/output/**/*.mkv
testing/crf_tests/*.mp4

# Don't need no pycace
__pycache__

# Come on vs code who do you think you are
.vscode/

# Shouldn't bog down the repo with a huge movie
static/media/*
!static/media/.keepdir