# We don't need the output of the tests
testing/output/**/*.mp4
testing/output/**/*.mkv
testing/crf_tests/*.mp4

# Cache smache
__pycache__

# Come on vs code who do you think you are
.vscode/

# Shouldn't bog down the repo with a huge movie
static/media/*
!static/media/.keepdir

# Real lumberjacks don't keep logs
gunicorn_log/*
!gunicorn_log/.keepdir

# Global warming's gonna kill the environment anyway
.env/

# Oooo look at me I'm github I can't handle files over 100MB
finalbase.mp4

# TOO MANY RANDOM FILES
celerybeat-schedule
gunicorn.pid

