body {
    /* background-color: hsl(227, 10%, 10%); */
    background-color: rgb(06, 04, 07);
    color: white;

    text-align: center;
    font-family: "New Tegomin";
    font-size: larger;

    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin: 0;

    /* max-height: 100%; */
}

.noMargins {
    margin:  0;
    padding: 0;
}

#movieContainer {
    margin-top: 20px;
    margin-bottom: 5px;

}

#movie {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
}

#compressionMessage {
    margin-bottom: 5px;
}

#compressionButton {
    fill: none;
    background-color: rgb(06, 04, 07);
    border-width: 2px;

    font-family: "New Tegomin";

    padding: 4px;
}

#compressionButton:enabled {
    color: rgb(220, 220, 220);
    border-color: rgb(220, 220, 220);
}

#compressionButton:hover:enabled {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

#compressionButton:disabled {
    color: rgb(155, 155, 155);
    border-color: rgb(155, 155, 155);
}