body {
    /* background-color: hsl(227, 10%, 10%); */
    background-color: black;
    color: white;

    max-height: 100vh;
}

.centered {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    margin: auto;

    display: block;
}

#movie {
    width: 100%;
}

#movieContainer {
    margin-top: 10vh;
    margin-bottom: 10vh;

    max-width: 90%;
}

/* #compressButton {
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    transition: 0.25s; 

    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

#compressButton:hover:enabled,
#compressButton:focus:enabled {
    border-color: white;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(255, 255, 255);
    transform: translateY(-0.25em);
} */
